html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.button {
    margin-left: 1vw;
    margin-right: 0;
    margin-top: 2vw;
    padding: 0;
}

.click {
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-radius: 5px;
    height: 2.5vw;
    color: rgb(82, 81, 81);
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    margin-left: 0.45vw;
    margin-top: 0.35vw;
}

.botbutton {
    margin-left: 1.7vw;
}

.click:hover {
    box-shadow: 0 0 0 0.7pt darkgray;
}

.button:hover, .botbutton:hover, .lies:hover {
    text-decoration: underline;
    cursor: pointer;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;  
    height: 48.7vw;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: .9vw;
}

#searchbox {
    width: 39vw;
    height: 2.8vw;
    border-radius: 50px;
    border-width: 1px;
    border-color: lightgrey;
    margin-bottom: 1.5vw;
}

#foot {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 0.95vw;
    background-color: rgb(237, 237, 237);
    color: rgb(82, 81, 81);
}

#left-foot {
    display: flex;
    width: 50%;
}

#right-foot {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

#left-nav {
    display: flex;
    width: 50%;
    height: 4vw;
    justify-content: flex-start;
}

#right-nav {
    display: flex;
    width: 50%;
    height: 4vw;
    justify-content: flex-end;
}

#squares {
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 1.8vw;
}

#prof-pic {
    width: 3vw;
    height: 3vw;
    margin-top: 1.2vw;
    margin-right: 1.55vw;
}

#logo {
    display: flex;
    width: 20vw;
    height: auto;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: -11vw;
}

#front{
    margin-left: 1.85vw;
}

#end {
    margin-right: 2.5vw;
}